body{
    font-family: 'Rubik Vinyl', cursive;
    background-color: pink;
}
.header_div{
    background-color: azure;
    color:red;
}
.header_div p{
    font-family:roboto;
    color:grey;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bold;
}
.main_div button{
    font-family:roboto;
    margin-top: 30px;
    width:130px;
    font-weight: bolder;
    letter-spacing:3px;
}
.copy_right_footer{
    position:fixed;
    color:grey;
    bottom:0;
    width:100%;
    font-size:18px;
    background-color:white;
    line-height:3;
    text-align:center;
text-shadow: 5px 5px 5px grey
}